---
const { label } = Astro.props;
---

<!-- make a chip html -->
<div class="chip">
    <span class="chip-label">{label}</span>
</div>

<style>
    .chip {
        display: inline-block;
        padding: 0 25px;
        height: 40%0px;
        font-family: "Albert Sans", sans-serif;
        font-size: 15px;
        line-height: 40px;
        border-radius: 25px;
        background-color: var(--primario);
        color: white;
    }
    .chip:hover {
        background-color: var(--gris);
    }
</style>
