<div class="hero">
    <br />
    <br />
    <br />

    <div class="grid-container">
        <div class="grid-item">
            <h1>BiciDatos</h1>
            <br />
            <p>Monitoreo ciudadano de datos sobre ciclismo urbano en Bolivia</p>
        </div>
        <div class="grid-item">
            <img src="/logo-bicidatos.png" alt="BiciDatos" />
        </div>
    </div>
</div>

<style>
    .hero {
        height: 60vh;
        margin-bottom: 110px;
    }

    h1 {
        color: var(--primario);
        font-size: 6em;
        font-style: normal;
        font-weight: 600;
        text-align: center;
    }

    p {
        font-size: 1.5em;
        text-align: center;
        color: var(--gris);
        font-weight: 500;
    }

    img {
        max-width: 100%;
        margin-left: 0%;
    }

    /* Animacion leve continua*/
    img {
        animation: moveUpDown 3s ease-in-out infinite;
    }
    @keyframes moveUpDown {
        0% {
            transform: translateY(-5px);
        }
        50% {
            transform: translateY(5px);
        }
        100% {
            transform: translateY(-5px);
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 50px;
        margin-inline: auto;
        width: 100%;
        overflow: hidden;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
        margin-left: 50px;
    }

    @media (max-width: 915px) {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            padding-left: 30px;
            padding-right: 30px;
        }
        .grid-item {
            margin-top: 60px;
        }

        .grid-item img {
            width: 100%;
            overflow: hidden;
            margin-bottom: 5rem;
        }
    }

    @media (max-width: 480px) {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            margin-left: 30px;
            margin-right: 30px;
            width: 80%;
        }

        h1 {
            font-size: 3em;
        }

        p {
            font-size: 0.5 em;
        }

        img {
            width: 100%;
        }
        .hero {
            height: 70vh;
        }
    }
</style>
