---
import HeadBody from "../layouts/HeadBody.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<HeadBody>
    <Header />
    <section class="container">
        <div>
            <h1>Política de privacidad</h1>
        </div>
        <br />
        <p>
            El Laboratorio de Tecnologías Sociales creó la plataforma web y
            aplicación BiciDatos para la gestión de datos e información de
            ciclismo urbano desde una perspectiva de código abierto. Este
            servicio es proporcionado por el Laboratorio de Tecnologías Sociales
            sin costo y está diseñado para usarse tal cual. Los campos de los
            formularios fueron diseñados por miembros de la Coordinadora de
            Ciclistas de Cochabamba, Masa Crítica Kanata y el Taller de
            Acupuntura Urbana. La gestión de la plataforma web y aplicación
            corresponde al Laboratorio de Tecnologías Sociales y las personas
            involucradas en su desarrollo. Esta página se utiliza para informar
            a los visitantes sobre nuestras políticas sobre la recopilación, uso
            y divulgación de Información. Si decide utilizar nuestro Servicio,
            entonces acepta la recopilación y el uso de información en relación
            con esta política. La app no recolecta datos personales, sino solo
            datos públicos relacionados a ciclismo urbano , exceptuando el
            correo electrónico y el nombre del usuario para realizar moderación
            de contenido mediante el servicio Firebase. Los datos enviados se
            anonimizarán y se publicarán para realizar análisis de los avances
            entorno a políticas públicas de movilidad ciclista en Bolivia y
            realizar análisis agregados. Poseen licencia <a
                href="https://opendatacommons.org/licenses/odbl/1-0/">ODbL</a
            > que permiten el acceso, uso y reutilización de los datos para
            otros proyectos colaborativos.
        </p>
        <h2>Recopilación y uso de información</h2>

        <p>
            La aplicación, no obstante, puede utilizar servicios de terceros que
            pueden recopilar información utilizada para identificarlo.
            <br />
             Aplican las condiciones de los siguientes servicios:
        </p>

        <ul>
            <li>
                <p>
                    <a
                        href="https://cloud.google.com/terms/cloud-privacy-notice?hl=es-419"
                        >Google Cloud</a
                    >
                </p>
            </li>

            <li>
                <p>
                    <a
                        href="https://play.google.com/intl/es-419_us/about/play-terms/index.html"
                        >Servicios de Google Play
                    </a>
                </p>
            </li>

            <li>
                <p>
                    <a href="https://firebase.google.com/policies/analytics"
                        >Google Analytics para Firebase</a
                    >
                </p>
            </li>

            <li>
                <p>
                    <a
                        href="https://firebase.google.com/docs/crashlytics?hl=es-419"
                        >Firebase Crashlytics</a
                    >
                </p>
            </li>
        </ul>

        <h2>Datos de registro</h2>

        <p>
            Queremos informarle que cada vez que utiliza nuestro Servicio, en
            caso de un error en la aplicación, recopilamos datos e información
            (a través de productos de terceros) en su teléfono llamado Datos de
            registro. Estos Datos de registro pueden incluir información como la
            dirección de Protocolo de Internet (“IP”) de su dispositivo, el
            nombre del dispositivo, la versión del sistema operativo, la
            configuración de la aplicación cuando utiliza nuestro Servicio, la
            hora y fecha de su uso del Servicio y otras estadísticas.
        </p>

        <h2>Cookies</h2>

        <p>
            Las cookies son archivos con una pequeña cantidad de datos que se
            utilizan comúnmente como identificadores únicos anónimos. Estos se
            envían a su navegador desde los sitios web que visita y se almacenan
            en la memoria interna de su dispositivo.
        </p>

        <p>
            Este Servicio no utiliza estas “cookies” explícitamente. Sin
            embargo, la aplicación puede utilizar códigos de terceros y
            bibliotecas que utilizan “cookies” para recopilar información y
            mejorar sus servicios. Tiene la opción de aceptar o rechazar estas
            cookies y saber cuándo se envía una cookie a su dispositivo. Si opta
            por rechazar nuestras cookies, es posible que no pueda utilizar
            algunas partes de este Servicio.
        </p>

        <h2>Proveedores de servicios</h2>

        <p>
            Podemos emplear empresas e individuos de terceros por las siguientes
            razones: Para facilitar nuestro Servicio, proporcionar el Servicio
            en nuestro nombre; realizar servicios relacionados con el servicio;
            o ayudarnos a analizar cómo se utiliza nuestro Servicio.
        </p>

        <p>
            Queremos informar a los usuarios de este Servicio que estos terceros
            tienen acceso a su Información personal. El motivo es realizar las
            tareas que se les asignen en nuestro nombre. Sin embargo, están
            obligados a no divulgar ni utilizar la información para ningún otro
            propósito y mantener toda la información confidencial.
        </p>

        <h2>Seguridad</h2>

        <p>
            Valoramos su confianza al proporcionarnos su información, por lo que
            nos esforzamos por utilizar medios comercialmente aceptables para
            protegerla. Pero recuerde que ningún método de transmisión a través
            de Internet o método de almacenamiento electrónico es 100% seguro y
            confiable, y no podemos garantizar su absoluta seguridad.
        </p>

        <h2>Enlaces a otros sitios</h2>

        <p>
            Este Servicio puede contener enlaces a otros sitios. Si hace clic en
            un enlace de un tercero, se le dirigirá a ese sitio. Tenga en cuenta
            que estos sitios externos no son operados por nosotros. Por lo
            tanto, le recomendamos encarecidamente que revise la Política de
            privacidad de estos sitios web. No tenemos control ni asumimos
            ninguna responsabilidad por el contenido, las políticas de
            privacidad o las prácticas de los sitios o servicios de terceros.
        </p>

        <h2>Privacidad de los niños</h2>

        <p>
            Estos Servicios no están dirigidos a personas menores de 13 años. No
            recopilamos a sabiendas información de identificación personal de
            niños menores de 13 años. En el caso de que descubramos que un niño
            menor de 13 años nos ha proporcionado información personal, la
            eliminamos inmediatamente de nuestros servidores. Si usted es padre
            o tutor y sabe que su hijo nos ha proporcionado información
            personal, comuníquese con nosotros para que podamos realizar las
            acciones necesarias.
        </p>

        <h2>Cambios a esta Política de Privacidad</h2>

        <p>
            Es posible que actualicemos nuestra Política de privacidad de vez en
            cuando. Por lo tanto, le recomendamos que revise esta página
            periódicamente para ver si hay cambios. Le notificaremos de
            cualquier cambio publicando la nueva Política de privacidad en esta
            página. Esta política es efectiva a partir del 2020-30-10
        </p>

        <h2>Contáctenos</h2>

        <p>
            Si tiene alguna pregunta o sugerencia sobre nuestra Política de
            privacidad, no dude en contactarnos a bicidatosbo@gmail.com o
            contacto@labtecnosocial.org
        </p>
        <p>Si desea que borremos sus datos, también contáctenos.</p>
    </section>
    <Footer />
</HeadBody>

<style>
    .container {
        padding: 10% 20% 10% 20%;
    }

    h1 {
        color: var(--primario);
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
    }

    h2 {
        color: #15c0ea;
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 100;
        font-size: 25px;
        text-align: left;
    }

    p {
        color: var(--gris);
        font-family: "Albert Sans", Sans-serif;
        font-size: 18px;
        font-weight: 200;
        line-height: 20px;
        text-align: left;
        line-height: 1.5;
    }

    a {
        color: var(--primario);
        font-weight: 400;
        text-decoration: none;
    }
</style>
