---
import HeadBody from "../../layouts/HeadBody.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Chip from "../../components/Chip.astro";

export const frontmatter = {
    title: "Prácticas de bicilogística en Bolivia",
    author: "Abigail Roque Miranda, Victor Manuel Villazante Bernabe, Paola Cecilia Quisbert Cabrera",
    date: "2023-10-26",
    tags: ["Bicilogística", "Bolivia"],
    image: "/archivos/bicilogistica.png",
};
---

<HeadBody>
    <Header />
    <section class="container">
        <h1>Prácticas de bicilogística en Bolivia</h1>
        <br />

        <p id="fecha">26 de octubre de 2023</p>

        <p id="autor">
            Abigail Roque Miranda, Victor Manuel Villazante Bernabe, Paola
            Cecilia Quisbert Cabrera
        </p>

        <p>
            Existe un desconocimiento sobre la logística en bicicleta en
            Bolivia. Sin embargo, hay un legado sociocultural presente en el día
            a día entorno a la bicicleta, que ha sido invisibilizado como es la
            cultura del cuidado, servicio y comercio en bicicleta convencional o
            de carga. Cotidianamente varias personas de manera individual o
            colectiva usan la bicicleta de carga estableciendo
            actividades/oportunidades laborales diferentes con el uso de la
            bicicleta y promoviendo movilidades urbanas alternativas y
            sostenibles con el medio ambiente.
        </p>
        <br />
        <div class="video-container">
            <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/s4LhOBfbmhM?si=9HaJRwQYEkinT_o_"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <br />
        <p>
            En este contexto, presentamos esta investigación exploratoria para
            visibilizar las prácticas de bicilogística en Bolivia. Centrado en
            ciclistas, tanto individuales como colectivos, que incorporan la
            bicicleta en su vida cotidiana para actividades de cuidado,
            prestación de servicios y comercio. Con esto, buscamos visibilizar
            otros ciclistas urbanos que son parte del ecosistema de actores
            entorno a la bicicleta en Bolivia, más allá del ciclo activismo
            deportivo y turístico.
        </p>

        <h2>Bicilogística</h2>
        <p>
            Una práctica de bicilogística se refiere a la implementación de
            estrategias y mecanismos que involucran el uso de bicicletas
            convencionales o de carga en actividades de logística y transporte
            de mercancías y/o personas. Esta pueden tipicarse en:
        </p>

        <div class="accordion">
            <div class="accordion-item">
                <input type="checkbox" id="section1" class="accordion-input" />
                <label for="section1" class="accordion-label"
                    >Bicilogística de cuidado</label
                >
                <div class="accordion-content">
                    <p>
                        La bicilogística de cuidado es la realizada por
                        individuos que usan las bicicletas convencionales o de
                        carga como medio de transporte para ir al trabajo, el
                        colegio o para realizar actividades cotidianas de manera
                        que puedan llevar sus bienes, evitando el uso del
                        automóvil.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="section2" class="accordion-input" />
                <label for="section2" class="accordion-label"
                    >Bicilogística de servicio</label
                >
                <div class="accordion-content">
                    <p>
                        La bicilogística de servicio hace referencia a los
                        viajes que tienen como propósito proveer un servicio en
                        bicicleta, en el cual se transportan personas y/o
                        herramientas necesarias para llevar a cabo determinada
                        labor.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="section3" class="accordion-input" />
                <label for="section3" class="accordion-label"
                    >Bicilogística de comercio</label
                >
                <div class="accordion-content">
                    <p>
                        La bicilogística de comercio hace referencia al uso de
                        la bicicleta convencional o de carga como medio para
                        transportar mercancías al consumidor final.
                    </p>
                </div>
            </div>
        </div>

        <h2>Bicilogística en Bolivia</h2>

        <p>
            En Bolivia identificamos los tres tipos de logística en bicicleta,
            predominando la bicilogística de comercio y de servicio con el 43% y
            41% respectivamente. Por otra, solo el 17% utiliza la bici como modo
            de transporte para actividades de cuidado.
        </p>
        <div
            class="flourish-embed flourish-chart"
            data-src="visualisation/16148415"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>
        <p>
            Geograficamente identificamos estas prácticas de logística en
            bicicleta en La Paz, El Alto, Cochabamba, Santa Cruz, Tarija y
            Chuquisaca.
        </p>

        <p>
            Sí bien por la topografía de la ciudad de La Paz, no es muy común
            encontrar estas prácticas, en El Alto es otro el contexto. El
            comercio informal de la feria 16 de julio, no solo devela mecanismos
            de sobrevivencia, sino formas de vida popular, donde la bicicleta
            resulta una herramienta de trabajo fundamental y un modo de
            transporte ecónomico para desplazarse en la ciudad.
        </p>
        <p>
            Por otra parte, los emprendimientos ciclistas de Cochabamba destacan
            como agentes disruptivos de sostenbilidad y movilidad activa. En
            cambio en Santa Cruz, Tarija y Chuquisaca resaltan microempresas que
            ofertan servicios turísticos y de de alquiler de bicicletas.
        </p>

        <div
            class="flourish-embed flourish-survey"
            data-src="visualisation/15361541"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>
        <h3>Carácter organizativo</h3>
        <p>
            En relación al carácter organizativo, el 52% lo desarrolla
            individualmente, sin estar sujeto a alguna agrupación. Y el 48% lo
            realiza colectivamente, agrupado en un sindicato, asociación o
            empresa.
        </p>

        <h3>Prácticas de bicilogística</h3>

        <div class="grid-container">
            <div class="grid-item">
                <h3>Bicilogística de cuidado</h3>
                <p>
                    El 16% de las prácticas de bicilogística de cuidado, usan la
                    bicicleta como modo de transporte para dirigirse a centros
                    de abastecimiento y actividades de recreación.
                </p>
            </div>

            <div class="grid-item">
                <video width="640" height="360" controls>
                    <source src="/bicilogistica-cuidado.mp4" type="video/mp4" />
                </video>
            </div>

            <div class="grid-item">
                <h3>Bicilogística de servicio</h3>
                <p>
                    Del 41% de las prácticas de bicilogística de servcio, el 17%
                    corresponde a alquiler de bicicletas, el 9% a servicios de
                    cicloturismo, 6% a servicios de bicidelivery y restauración
                    de bicicletas y el restante 3% a servicios de recolección
                    municipal.
                </p>
            </div>

            <div class="grid-item">
                <video width="640" height="360" controls>
                    <source
                        src="/bicilogistica-servicio.mp4"
                        type="video/mp4"
                    />
                </video>
            </div>

            <div class="grid-item">
                <h3>Bicilogística de comercio</h3>
                <p>
                    Del 43% de las prácticas de bicilogística de comercio, el
                    40% corresponde a puntos de venta en bici de carga (helados,
                    mate, zomo, hielo, comestibles, etc) y el restante 3% a
                    recolectores de reciclaje independientes en triciclos.
                </p>
            </div>

            <div class="grid-item">
                <video width="640" height="360" controls>
                    <source
                        src="/bicilogistica-comercio.mp4"
                        type="video/mp4"
                    />
                </video>
            </div>
        </div>

        <h3>Carácter de la prácticas</h3>
        <p>
            El 50% de estas prácticas son parte del patrimonio urbano-cultural,
            porque son prácticas que tiene un legado cultural en la historia de
            la ciudades bolivianas. Entre estas prácticas tenemos los canillitas
            y los vendedores ambulantes. El 24% son iniciativas ambientales que
            resultan ser emprendimientos empresariales de triple impacto
            (social, económico , ambiental). El 11% son prácticas que
            revalorizan el valor de la bicicleta en el contexto local y en base
            a ello desarrollan emprendimientos sostenibles e innovadoras. El 15%
            son prácticas que además de ser emprendimientos empresariales,
            utilizan herramientas digitales en su logística.
        </p>

        <h3>Tipo de bicicleta</h3>
        <p>
            El 44% de las prácticas realiza sus actividades de logística en
            triciclos o bici cargo. Y el 56% en bicicletas convencionales.
        </p>
        <div
            class="flourish-embed flourish-chart"
            data-src="visualisation/16150388"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>
        <h3>Uso de tecnologías</h3>
        <p>
            El 50% de las prácticas no usa tecnologías para el desarrollo de su
            logística en bicicleta. El restante utiliza un, dos o tres
            herramientas digitales para su servicio de bicilogística.
        </p>

        <h2>Reflexiones pedaleras</h2>

        <p>
            En conclusión, el panorama de la logística en bicicleta en Bolivia
            es diverso y refleja la adaptabilidad de este modo de transporte en
            diferentes contextos y para una variedad de propósitos. Se observa
            que predominan las bicilogísticas de comercio y servicio, lo que
            demuestra su importancia tanto como herramienta de trabajo en el
            comercio informal como en emprendimientos de sostenibilidad y
            movilidad activa en lugares como El Alto y Cochabamba. Además, se
            destaca la presencia de microempresas que ofrecen servicios
            turísticos y de alquiler de bicicletas en Santa Cruz, Tarija y
            Chuquisaca.
        </p>

        <p>
            La organización de estas prácticas varía, con un equilibrio entre
            individuos que operan de manera independiente y aquellos que se
            agrupan en sindicatos, asociaciones o empresas. Algunas de estas
            prácticas tienen un profundo valor cultural y son parte integral del
            patrimonio urbano-cultural de las ciudades bolivianas, como los
            canillitas y los vendedores ambulantes. Además, se destacan
            iniciativas ambientales y emprendimientos de triple impacto que
            demuestran la importancia de la bicicleta como una herramienta
            sostenible en términos sociales, económicos y ambientales. También,
            un porcentaje significativo de estas prácticas utiliza herramientas
            digitales para optimizar su logística, lo que muestra una adaptación
            a las tecnologías emergentes.
        </p>

        <p>
            La logística en bicicleta en Bolivia es una muestra de la
            versatilidad de este modo de transporte en diferentes ámbitos y su
            capacidad para promover la sostenibilidad, la movilidad activa y la
            preservación de tradiciones culturales. Estos datos indican que la
            bicicleta desempeña un papel relevante en la vida y la economía de
            diversas comunidades bolivianas, y que su uso seguirá evolucionando
            en respuesta a las necesidades locales y las oportunidades
            emergentes.
        </p>

        <div>
            <h3>Equipo de mapeo de bicilogística</h3>
            <p>
                Abigail Roque Miranda (BiciDatos)
                <br />
                 Victor Manuel Villazante Bernabe (BiciDatos)
                <br />
                 Paola Cecilia Quisbert Cabrera (RELIDD)
            </p>
        </div>
        {frontmatter.tags.map((tag) => <Chip label={tag} />)}
    </section>
    <Footer />
</HeadBody>

<style>
    .container {
        padding: 10% 20% 10% 20%;
    }

    h1 {
        color: var(--primario);
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
    }

    h2 {
        color: #15c0ea;
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 100;
        font-size: 30px;
        text-align: left;
    }

    h3 {
        color: var(--gris);
        font-family: "Albert Sans", Sans-serif;
        font-weight: 500;
        font-size: 100;
        font-size: 20px;
        text-align: left;
    }

    p {
        color: var(--gris);
        font-family: "Albert Sans", Sans-serif;
        font-size: 18px;
        font-weight: 200;
        line-height: 20px;
        text-align: left;
        line-height: 1.5;
    }

    .video-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-container iframe {
        width: 69%;
        border-radius: 30px;
    }

    .accordion {
        max-width: 600px;
        margin: 0 auto;
    }

    .accordion-item {
        border: 1px;
        margin-bottom: 10px;
    }

    .accordion-input {
        display: none;
    }

    .accordion-label {
        display: block;
        padding: 10px;
        background-color: #f1f1f1;
        cursor: pointer;
        border-radius: 50px;
    }

    .accordion-content {
        display: none;
        padding: 10px;
    }

    .accordion-input:checked + .accordion-label + .accordion-content {
        display: block;
    }

    .accordion-label {
        color: #15c0ea;
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
    }

    /* Estilos para el grid */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-template-rows: auto auto;
    }

    /* Estilos para los elementos del grid */
    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    video {
        width: 80%;
        border-radius: 30px;
    }

    #fecha {
        text-align: right;
    }

    #autor {
        color: black;
        font-weight: bold;
        font-size: 15px;
    }

    @media (max-width: 915px) {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        video {
            width: 100%;
        }

        .video-container iframe {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        video {
            width: 100%;
        }

        .video-container iframe {
            width: 100%;
        }

        .accordion-label {
            font-size: 15px;
        }
    }
</style>
