---
import HeadBody from "../../layouts/HeadBody.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Chip from "../../components/Chip.astro";

export const frontmatter = {
    title: "Ciudadanía en ruedas en el Bici Foro Cochabamba 2023",
    author: "Abigail Roque Miranda",
    date: "2023-09-09",
    tags: ["Ciclismo urbano", "Biciclogística", "Bolivia"],
    image: "/archivos/cr.png",
};
---

<HeadBody>
    <Header />
    <section class="container">
        <h1>Ciudadanía en ruedas en el Bici Foro Cochabamba 2023</h1>
        <br />
        <p id="fecha">09 de septiembre de 2023</p>

        <p id="autor">Abigail Roque Miranda</p>
        <br />
        <div
            class="flourish-embed flourish-photo-slider"
            data-src="visualisation/16152463"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>

        <p>
            Existe un desconocimiento sobre la logística en bicicleta en
            Bolivia. Sin embargo, hay un legado sociocultural presente en el día
            a día entorno a la bicicleta, que ha sido invisibilizado como es la
            cultura del cuidado, servicio y comercio en bicicleta convencional o
            de carga.
            <br />
             Individual o colectivamente varias personas usan la bicicleta
            cotidianamente estableciendo formas de vida y oportunidades
            laborales, prácticando movilidad activa y sostenible para el cuidado
            de la vida y el medio ambiente.
            <br />
             En ese sentido, presentamos el documental «Ciudadanía en ruedas:
            Prácticas de Bicilogística en Bolivia». Una iniciativa de BiciDatos
            y el Laboratorio de Tecnologías Sociales con apoyo de Ciudadanía
            Bolivia y Pan para el mundo. Producida por JIWAKY.
            <br />
             Agradecemos a la Red de Recolectores Santa Cruz, la Asociación 15
            de abril, Briz, Bike Art Cocha, Bicicletas Clásicas Cochabamba y
            ciclistas urbanos que nos compartieron un fragmento de su historia
            de logística en bicicleta.
            <br />
             Este documental fue presentado en el Bici Foro Cochabamba 2023 el 9
            de septiembre , visibilizando el ejercicio ciudadano del
            #comunicemoslabicicleta.
        </p>
        <br />
        <div class="video-container">
            <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/s4LhOBfbmhM?si=9HaJRwQYEkinT_o_"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <br />
        <p>
            Igualmente se realizo una exposición fotografíca de las prácticas de
            acuerdo al tipo de Bicilogística en Cochabamba, La Paz, Santa Cruz y
            Oruro.
            <br />
             Una práctica de bicilogística se refiere a la implementación de
            estrategias y mecanismos que involucran el uso de bicicletas o
            triciclos de carga en actividades de logística de cuidado, servicio
            y comercio, transportando mercancías y/o personas.
        </p>

        <div class="grid-container">
            <div class="grid-item">
                <h3>Bicilogística de cuidado</h3>
                <p>
                    El 16% de las prácticas de bicilogística de cuidado, usan la
                    bicicleta como modo de transporte para dirigirse a centros
                    de abastecimiento y actividades de recreación.
                </p>
            </div>

            <div class="grid-item">
                <video width="640" height="360" controls>
                    <source src="/bicilogistica-cuidado.mp4" type="video/mp4" />
                </video>
            </div>

            <div class="grid-item">
                <h3>Bicilogística de servicio</h3>
                <p>
                    Del 41% de las prácticas de bicilogística de servcio, el 17%
                    corresponde a alquiler de bicicletas, el 9% a servicios de
                    cicloturismo, 6% a servicios de bicidelivery y restauración
                    de bicicletas y el restante 3% a servicios de recolección
                    municipal.
                </p>
            </div>

            <div class="grid-item">
                <video width="640" height="360" controls>
                    <source
                        src="/bicilogistica-servicio.mp4"
                        type="video/mp4"
                    />
                </video>
            </div>

            <div class="grid-item">
                <h3>Bicilogística de comercio</h3>
                <p>
                    Del 43% de las prácticas de bicilogística de comercio, el
                    40% corresponde a puntos de venta en bici de carga (helados,
                    mate, zomo, hielo, comestibles, etc) y el restante 3% a
                    recolectores de reciclaje independientes en triciclos.
                </p>
            </div>

            <div class="grid-item">
                <video width="640" height="360" controls>
                    <source
                        src="/bicilogistica-comercio.mp4"
                        type="video/mp4"
                    />
                </video>
            </div>
        </div>

        <br />
        <br />
        <br />

        <h2>.: Un fragmento de una gran red que pedalea :.</h2>
        <br />

        <div class="grid-container">
            <div class="grid-item">
                <h3>BiciDatos en el Bici Foro Cochabamba 2023</h3>
                <p>
                    Desde BiciDatos, enarbolamos el COMUNICEMOS LA BICICLETA en
                    el sentido de apropiarnos de la bici como medio de acción
                    colectiva y de transformación del movimiento ciclista hacia
                    una movilidad sostenible para el cuidado de la vida y del
                    medio ambiente ante la crisis climática y económica. Por
                    ello nuestro accionar y aportes contribuyen en la
                    construcción de ciudades colectivas y sostenibles, donde se
                    promueva el apoyo mutuo y el cuidado del bien común.
                </p>
            </div>

            <div class="grid-item">
                <video width="640" height="360" controls>
                    <source src="/Biciforo.mp4" type="video/mp4" />
                </video>
            </div>
        </div>

        <br />

        <p>
            Para más información entorno a las prácticas de bicilogístia en
            Bolivia, haz click en el siguiente <a
                href="/bici-blog/bicilogistica">link</a
            >
        </p>
        <br />
        {frontmatter.tags.map((tag) => <Chip label={tag} />)}
    </section>
    <Footer />
</HeadBody>

<style>
    .container {
        padding: 10% 20% 10% 20%;
    }

    img {
        width: 40%;
        border-radius: 30px;
    }

    h1 {
        color: var(--primario);
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
    }

    h2 {
        color: #15c0ea;
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 100;
        font-size: 30px;
        text-align: center;
    }

    h3 {
        color: var(--gris);
        font-family: "Albert Sans", Sans-serif;
        font-weight: 500;
        font-size: 100;
        font-size: 20px;
        text-align: left;
    }

    p {
        color: var(--gris);
        font-family: "Albert Sans", Sans-serif;
        font-size: 18px;
        font-weight: 200;
        line-height: 20px;
        text-align: left;
        line-height: 1.5;
    }

    .video-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-container iframe {
        width: 69%;
        border-radius: 30px;
    }

    video {
        width: 68%;
        border-radius: 30px;
    }

    /* Estilos para el grid */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-template-rows: auto auto;
    }

    /* Estilos para los elementos del grid */
    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    a {
        color: #15c0ea;
        font-weight: 500;
        text-decoration: none;
    }

    #fecha {
        text-align: right;
    }

    #autor {
        color: black;
        font-weight: bold;
        font-size: 15px;
    }

    @media (max-width: 915px) {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        video {
            width: 100%;
        }

        .video-container iframe {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        video {
            width: 100%;
        }
    }
</style>
