---
import HeadBody from "../../layouts/HeadBody.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Chip from "../../components/Chip.astro";

export const frontmatter = {
    title: " Aproximación al ecosistema de actores entorno a la bicicleta en Bolivia",
    author: "Abigail Roque Miranda",
    date: "2023-11-26",
    tags: [
        "Ciclismo urbano",
        "Ciclismo deportivo",
        "Ciclismo turístico",
        "Bolivia",
    ],
    image: "/archivos/grafo.png",
};
---

<HeadBody>
    <Header />
    <section class="container">
        <h1>
            Aproximación al ecosistema de actores entorno a la bicicleta en
            Bolivia
        </h1>
        <br />
        <p id="fecha">26 de octubre de 2023</p>

        <p id="autor">Abigail Roque Miranda</p>
        <br />
        <p>
            Esta aproximación al ecosistema de actores entorno a la bicicleta en
            Bolivia intenta visibilizar el conjunto diverso de organizaciones y
            emprendimientos ciclistas que influyen en la cultura ciclista en
            Bolivia.
            <br />
             Entendemos como ecosistema de actores en torno a la bicicleta a una
            red diversa de individuos, organizaciones y entidades que participan
            en actividades relacionadas con el uso, promoción y desarrollo de la
            bicicleta como modo de transporte, herramienta activa para el
            turismo, deporte y recreación. Entre los actores típicos que
            encontramos en Bolivia en el ecosistema estan las:
            <br />
            <strong>Organizaciones ciclistas</strong>, que son grupos y
            asociaciones de ciclistas que promueven los derechos de los
            ciclistas, la seguridad vial, el cicloturismo, y a menudo trabajan
            en colaboración con gobiernos locales para mejorar la
            infraestructura ciclista.
            <br />
             Y los <strong>emprendimientos ciclistas</strong>, que a través de
            la bicicleta desarrollan oficios o proyectos innovadores, que se
            traducen en prácticas de bicilogística, que resultan alternativas de
            subsistencia o soluciones sostenibles e innovadoras.
            <br />
             En los últimos años, tanto organizaciones y emprendimientos
            ciclistas han ido construyendo un legado hístorico entorno a la
            bicicleta en Bolivia. En ese sentido inicialmente exponemos una
            breve contextualización de la historia de la bicicleta en nuestro
            país. Para luego mostrar los actores que han ido emergiendo y
            apropiandose de ella como herramienta de transformación de vida , a
            nivel individual, y de transformación social, a nivel colectivo.
            Siendo de interes común esta última para un cambio hacia una
            movilidad ciclista con conciencia colectiva y justicia social
            efectiva.
            <br />
        </p>

        <div class="accordion">
            <div class="accordion-item">
                <input type="checkbox" id="section1" class="accordion-input" />
                <label for="section1" class="accordion-label"
                    >La bicicleta en Bolivia</label
                >
                <div class="accordion-content">
                    <p>
                        Durante varias décadas, después de la creación de la
                        primera bicicleta (el año 1885 en Inglaterra), el acceso
                        a este medio de transporte en Bolivia fue limitado. Se
                        estima que la bicicleta hizo su entrada en el país
                        alrededor de la década de 1920. La introducción de las
                        bicicletas tuvo lugar principalmente en el departamento
                        de Oruro, debido a la presencia de trabajadores de
                        origen inglés en los centros mineros, quienes al estar
                        involucrados con Bolivian Railway y las casas
                        importadoras de ese entonces, fueron los primeros en
                        usar y promover este innovador modo de transporte en la
                        región.
                        <br />
                         Cuando la bicicleta se introdujo como una novedad en
                        Bolivia, solo unos pocos privilegiados podían permitirse
                        su adquisición debido a los elevados costos asociados a
                        ella. Como resultado, la mayoría de los ciclistas
                        pertenecían a los estratos más acomodados de la sociedad
                        de ese entonces. Sin embargo, con el paso de los años,
                        los precios comenzaron a disminuir, y la comunidad
                        ciclista fue diversificandose, ciclistas en las
                        provincias comenzaron a utilizar la bicicleta como modo
                        de transporte para actividades de cuidado y de servicio.


                        <br />
                         El año 1925, se creó el primer “Ciclo Club” en
                        Cochabamba, el cual se destacó por su presencia en
                        actividades culturales y deportivas promoviendo la
                        bicicleta. Por 1960, con la llegada del automóvil, las
                        bicicletas gradualmente perdieron su rol primario en
                        materia de movilidad urbana. Sin embargo, a pesar de
                        ello, continuaron emergiendo diversas organizaciones
                        ciclistas.
                    </p>
                </div>
            </div>
        </div>

        <h2>Organizaciones ciclistas</h2>
        <p>
            Las organizaciones ciclistas en Bolivia estan representadas por las
            siguientes entidades:
        </p>

        <div class="accordion">
            <div class="accordion-item">
                <input type="checkbox" id="section2" class="accordion-input" />
                <label for="section2" class="accordion-label">
                    Colectivo de ciclismo urbano</label
                >
                <div class="accordion-content">
                    <p>
                        Una comunidad de personas apasionadas por el ciclismo y
                        comprometidas en promover su uso en el entorno urbano.
                        Estos colectivos tienen como objetivo fomentar la
                        bicicleta como modo de transporte sostenible en las
                        ciudades. Trabajan para mejorar la infraestructura
                        ciclista, la seguridad vial y la conciencia pública
                        sobre los beneficios del ciclismo urbano. Sus
                        actividades pueden incluir:
                        <br />
                        <strong>Promoción del Ciclismo</strong>: Fomentan el uso
                        de la bicicleta como una alternativa válida para
                        desplazarse en la ciudad y resaltar sus ventajas, como
                        la reducción de la congestión vehicular y la
                        contaminación del aire.
                        <br />
                        <strong>Advocacy y Activismo</strong>: Abogan por
                        políticas públicas que apoyen a los ciclistas urbanos,
                        como la creación de ciclovías seguras, el mejoramiento
                        de las leyes de tráfico y la promoción de la educación
                        vial.
                        <br />
                        <strong>Eventos y Paseos en Bicicleta</strong>:
                        Organizan eventos, paseos grupales y actividades que
                        reúnen a la comunidad ciclista para promover la
                        convivencia y la visibilidad.
                        <br />
                        <strong>Educación Vial</strong>: Ofrecen programas de
                        educación vial para ciclistas y conductores para mejorar
                        la seguridad en las carreteras.
                        <br />
                        <strong>Defensa de los Derechos de los Ciclistas</strong
                        >: Abogan por los derechos de los ciclistas en caso de
                        accidentes o disputas legales.
                        <br />
                        <strong>Sostenibilidad y Medio Ambiente</strong>:
                        Promueven la bicicleta como una forma sostenible de
                        movilidad que contribuye a reducir la huella de carbono
                        y mejorar la calidad del aire.
                        <br />
                        <strong>Cicloturismo y Cultura Ciclista</strong>:
                        Fomentan el cicloturismo y la exploración de la ciudad
                        en bicicleta como una forma de conocer y disfrutar del
                        entorno urbano.
                        <br />
                         En Bolivia destacan los colectivos departamentales
                        vinculados a la Masa Crítica, un fenómeno ciclista​ que
                        promueve la bici como modo de transporte sostenible en
                        el debate público, ​además de organizar salidas
                        mensuales en bici.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="section3" class="accordion-input" />
                <label for="section3" class="accordion-label"
                    >Colectivo de ciclismo deportivo</label
                >
                <div class="accordion-content">
                    <p>
                        Agrupaciones de entusiastas del ciclismo que se unen con
                        el propósito de practicar y promover el ciclismo como
                        una actividad deportiva y recreativa. A diferencia de
                        los colectivos ciclistas urbanos que se enfocan en el
                        uso de la bicicleta como modo de transporte en la
                        ciudad, los colectivos de ciclismo deportivo están más
                        orientados hacia el aspecto competitivo y recreativo del
                        ciclismo. Sus actividades pueden incluir:
                        <br />
                        <strong>Entrenamientos y Competencias</strong>: Los
                        miembros del colectivo suelen participar en
                        entrenamientos regulares y competencias de ciclismo, ya
                        sea en carretera, ciclismo de montaña (MTB), ciclocross,
                        pista, o cualquier otra disciplina del ciclismo. Estas
                        agrupaciones ofrecen oportunidades para mejorar las
                        habilidades de ciclismo, incluyendo técnicas de manejo,
                        mecánica de bicicletas y estrategias de carrera.
                        <br />
                        <strong
                            >Recorridos para el fomento de la Salud y el
                            Acondicionamiento Físico
                        </strong>: Promueven un estilo de vida activo y
                        saludable a través de la práctica regular del ciclismo,
                        lo que beneficia tanto la salud cardiovascular como el
                        acondicionamiento físico.
                        <br />
                        <strong>Compañerismo y Comunidad</strong>: Los
                        colectivos de ciclismo deportivo ofrecen un entorno
                        donde los ciclistas pueden compartir experiencias,
                        consejos y amistades. La comunidad es un aspecto
                        importante de estos grupos.
                        <br />
                        <strong> Participación en Eventos y Carreras</strong>:
                        Muchos de estos colectivos participan en eventos
                        ciclistas y competencias a nivel local, nacional o
                        incluso internacional, representando a su grupo y
                        buscando el éxito en las carreras.
                        <br />
                        <strong>Promoción del Ciclismo Deportivo</strong>:
                        Fomentan la participación en el ciclismo deportivo y
                        trabajan para aumentar el interés en esta actividad
                        dentro de la comunidad local.
                        <br />
                         El año 2005, emerge ‘Dame Metro y Medio de Vida’ un
                        movimiento que aboga por la vida de los ciclistas,
                        cuenta con dos cartillas de información y prevención de
                        accidentes tanto para ciclistas como conductores de
                        vehículos.Este colectivo vincula a casí toda la
                        totalidad de las agrupaciones ciclistas deportivas.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="section4" class="accordion-input" />
                <label for="section4" class="accordion-label"
                    >Colectivo de ciclismo turístico</label
                >
                <div class="accordion-content">
                    <p>
                        Es un grupo de personas que comparten un interés común
                        en explorar y disfrutar de lugares turísticos y
                        escénicos mientras practican el ciclismo. Estos grupos
                        suelen organizarse para realizar recorridos en bicicleta
                        a través de rutas panorámicas, senderos naturales y
                        áreas turísticas, con el objetivo de combinar el
                        ciclismo con la experiencia de viajar y descubrir nuevos
                        destinos. Las características de un colectivo de
                        ciclismo turístico pueden incluir:
                        <br />
                        <strong>Excursiones y Viajes en Bicicleta</strong>:
                        Organizan viajes y excursiones que involucran rutas en
                        bicicleta a través de paisajes pintorescos, ciudades
                        históricas, parques naturales y otros lugares de interés
                        turístico. Ofrecen una variedad de rutas y niveles de
                        dificultad para adaptarse a los intereses y habilidades
                        de los participantes.
                        <br />
                        <strong>Exploración Cultural</strong>: Además de
                        disfrutar del ciclismo, estos colectivos a menudo se
                        centran en explorar la cultura local, la gastronomía y
                        la historia de los lugares que visitan.
                        <br />
                        <strong>Compañerismo y Comunidad</strong> : Los miembros
                        comparten una pasión por el ciclismo y la aventura, lo
                        que fomenta el compañerismo y la construcción de
                        relaciones dentro del grupo.
                        <br />
                        <strong>Fomento del Cicloturismo</strong> : Promueven el
                        cicloturismo como una forma sostenible y enriquecedora
                        de viajar y explorar nuevos destinos.
                        <br />
                         En Bolivia si bien hay algunos colectivos de este tipo,
                        resalta más la presencia de empresas que ofertan
                        servicios de cicloturismo.
                    </p>
                </div>
            </div>
        </div>

        <div
            class="flourish-embed flourish-cards"
            data-src="visualisation/14930746"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>

        <p>
            En el mapeo de actores ciclistas identificamos 117 organizaciones
            ciclistas, en su caracter organizativo el 76% se denomina cono
            agrupación, el 15% como colectivos y el 9% conformaron asociaciones.


            <br />
             Estos datos revelan una atomización y fragmentación organizativa de
            la comunidad ciclista, que deriva en que no tengan un objetivo común
            para un accionar conjunto en la elaboración de propuestas ciudadanas
            o incidencia pública en materia de movilidad ciclista.
            <br />
             Hasta la fecha, solo los colectivos ciclistas urbanos de
            Cochabamba, han logrado incidir en materia de movilidad ciclista,
            con el establecimiento de la “Ley de la Bicicleta en Cochabamba” y
            su respectiva reglamentación.
            <br />
             Los ciclistas urbanos tienden a estar más involucrados en
            cuestiones de incidencia pública y protestas sociales, aunque lo
            hacen de manera eventual, experimentan cierta reinvindicación de su
            derecho a la ciudad.
            <br />
             Richard Nelson Mamani Callisaya, representante del Comité Municipal
            de la Bicicleta desde TAU-mARTadero expone que <em
                >"los ciclistas deportivos mantienen intereses específicos sin
                un impacto político o conflicto social inherente. En cierta
                medida, operan como grupos enfocados en metas individuales y
                pueden parecer pasivos en ese sentido"</em
            >.
            <br />
             Por otra parte, también expresa que hay <em
                >"una alianza potencial entre cicloturistas y emprendedores
                ciclistas, que promocionan el ciclismo como un estilo de vida
                saludable"</em
            >, lo que puede dar lugar a una colaboración beneficiosa. Sin
            embargo, es necesario entender el ciclismo no como un “estilo de
            vida” o rasgo peculiar del momento, sino como una forma de vida o
            conducta de acción cotidiana.
            <br />
             Richard concluye que <em
                >"no hay un ente reconocido con personería jurídica formal que
                vincule a todos los colectivos ciclistas, este es el tema de
                fondo que impide la lucha de comunes, por ello insta en
                formalizar la Coordinadora de Ciclistas, para delimitar hasta
                donde la participación y ejercicio de ciudadanía política se
                puede vincular con la gestión pública y la coyuntura político
                partidaria municipal, sin coptar las luchas sociales de la
                bicicleta como medio de transporte preferencial, desde un
                estatuto que delimite su accionar para la protección del bien
                común"</em
            >.
        </p>

        <div
            class="flourish-embed flourish-network"
            data-src="visualisation/14926321"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>

        <p>
            Alvaro Maldonado, miembro de Masa Crítica Kanata expresa que “la
            colaboración entre ciclistas urbanos, deportivos y turísticos ha
            sido muy poca, si bien han intentado ejercer incidencia pública (…)
            algunos lo hacen por iniciativa, otros por obligación o por presión
            social”.
            <br />
             También expresa “que entre estos colectivos hay un objetivo en
            común entorno a la bicicleta, lo que no hay es una comunicación
            correcta, por aspectos individualistas desde el ego, y miramientos
            entre urbanos y deportivos (…). Entonces lo que necesitamos es
            coincidir para trabajar por un bien común”.
            <br />
             De acuerdo con los aportes de estos miembros activos de la
            comunidad ciclista, es menester poner el interes colectivo por sobre
            el indvidual, para poder conincidir, colaborar y desarrollar un
            accionar conjunto en pro de la cultura y movilidad ciclista.
        </p>

        <h2>Tipología de organizaciones ciclistas</h2>
        <p>
            Los ciclistas deportivos conllevan el 79% de la comunidad ciclista
            en Bolivia. Mientras el ciclismo urbano esta representado solo por
            el 16%.
            <br />
             El 41% de las organizaciones ciclistas estan en Santa Cruz.
            Mientras en Cochabamba esta el 20% y en La Paz el 8%.
            <br />
             El resto de organizaciones ciclistas se distribuyen en menores
            proporciones en los demás departamentos, exceptuando Pando.
        </p>

        <div
            class="flourish-embed flourish-chart"
            data-src="visualisation/16153488"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>

        <p>
            La pandemia de COVID-19 durante y post cuarentena ha tenido un
            impacto significativo en la movilidad y en la creación de grupos
            ciclistas en ciudades de Bolivia, como Santa Cruz, Cochabamba y La
            Paz.
            <br />
             La gestión 2020 emergieron 17 organizaciones ciclistas. El 2021
            incrementaron 32 organizaciones nuevas. Y el 2022 se sumaron otras
            19 organizaciones ciclistas. Estas nuevas organizaciones son
            agrupaciones deportivas en su mayoría. Dos factores han contribuido
            a este fenómeno:
            <br />
            <strong>
                Distanciamiento Social y Evitación del Transporte Público</strong
            >: Como medida para evitar la propagación del virus, muchas personas
            han buscado alternativas al transporte público abarrotado. La
            bicicleta se ha convertido en una opción atractiva, ya que permite
            el distanciamiento social y reduce el riesgo de contagio.
            <br />
            <strong> Grupos de apoyo</strong>: La crisis sanitaria ha promovido
            un sentido de conectarse con el otro. La formación de grupos
            ciclistas ha brindado a las personas la oportunidad de conectarse,
            compartir consejos y experiencias, y sentirse parte de algo. Esto ha
            fomentado la creación de nuevas agrupaciones ciclistas.
            <br />
             La pandemia de COVID-19 ha actuado como un catalizador para la
            creación de grupos ciclistas deportivos en ciudades del eje troncal.
        </p>

        <h2>Emprendimientos ciclistas</h2>
        <p>
            En Bolivia, han surgido varios emprendimientos relacionados con el
            ciclismo en los últimos años. Estos emprendimientos abarcan una
            amplia gama de áreas y servicios relacionados con la bicicleta,
            incluyendo la restauración de bicicletas, el alquiler de bicicletas,
            el cicloturismo y diversas formas de bicilogística.
            <br />
             Emprendimientos ciclistas que a través de la bicicleta, cultivan
            habilidades en diversos oficios y desarrollan proyectos innovadores.
            Iniciativas no solo ofrecen alternativas viables de sustento, sino
            que contribuyen con la sostenibilidad.
            <br />
             Identificamos 18 emprendimientos ciclistas, los cuales representan
            el 41% de prácticas de bicilogística de servicio en Bolivia.
            Temática que abordaremos en <a href="/bicilogistica">
                Prácticas de bicilogística en Bolivia</a
            >.
        </p>

        <div
            class="flourish-embed flourish-cards"
            data-src="visualisation/15278305"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>
        <p>
            Briz, Bixie, Ecodelivery y Cochabamba Pedal Project ,reconocidos
            local e internacionacionalmente, son proyectos empresariales de
            triple impacto (social, económico , ambiental) que ofrecen
            soluciones sostenibles e innovadoras a problemas y necesidades
            encontradas en Cochabamba.
            <br />
             Estos emprendimientos no solo contribuyen al fortalecimiento de la
            consciencia y cultura ciclista en Bolivia, sino que también
            promueven una forma de vida activa y una movilidad ciclista
            sostenible en el país.
        </p>

        <h2>La bicicleta como medio de transformación social</h2>
        <p>
            La tendencia a priorizar el bien individual sobre el bien común en
            el contexto del uso de la bicicleta y la movilidad urbana puede
            estar relacionada las siguientes causas:
        </p>
        <div class="accordion">
            <div class="accordion-item">
                <input type="checkbox" id="section5" class="accordion-input" />
                <label for="section5" class="accordion-label"
                    >Individualismo Cultural</label
                >
                <div class="accordion-content">
                    <p>
                        En muchas sociedades, existe un fuerte énfasis en el
                        individualismo, donde las personas tienden a centrarse
                        en sus propios intereses y comodidad en lugar de
                        considerar el impacto de sus acciones en la comunidad.
                        Esto puede llevar a una falta de interés en el bien
                        común, como la reducción de la congestión vehicular o la
                        mejora de la calidad del aire.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="section6" class="accordion-input" />
                <label for="section6" class="accordion-label"
                    >Falta de Conciencia Colectiva</label
                >
                <div class="accordion-content">
                    <p>
                        Las personas pueden no estar plenamente conscientes de
                        los beneficios que el uso de la bicicleta puede aportar
                        a la sociedad en su conjunto, como la reducción de la
                        contaminación del aire, la descongestión del tráfico y
                        la promoción de una vida más saludable. La falta de
                        conciencia puede llevar a la indiferencia hacia el bien
                        común.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="section7" class="accordion-input" />
                <label for="section7" class="accordion-label"
                    >Falta de Infraestructura Ciclista</label
                >
                <div class="accordion-content">
                    <p>
                        La falta de infraestructura adecuada para bicicletas,
                        como ciclovías seguras y estacionamientos, puede
                        disuadir a las personas de optar por la bicicleta como
                        medio de transporte. Si no se sienten seguras o cómodas
                        al andar en bicicleta, es más probable que elijan otras
                        opciones.
                    </p>
                </div>

                <br />

                <div class="accordion-item">
                    <input
                        type="checkbox"
                        id="section8"
                        class="accordion-input"
                    />
                    <label for="section8" class="accordion-label"
                        >Cultura del Automóvil</label
                    >
                    <div class="accordion-content">
                        <p>
                            En muchas partes del mundo, la cultura del automóvil
                            está arraigada en la sociedad. Esto se traduce en
                            una fuerte dependencia de los automóviles como
                            símbolo de estatus y comodidad, lo que puede
                            desalentar el uso de la bicicleta.
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <input
                        type="checkbox"
                        id="section9"
                        class="accordion-input"
                    />
                    <label for="section9" class="accordion-label"
                        >Falta de Políticas de Fomento</label
                    >
                    <div class="accordion-content">
                        <p>
                            La ausencia o debilidad de políticas gubernamentales
                            que promuevan activamente el uso de la bicicleta
                            puede contribuir a que las personas no consideren la
                            bicicleta como una opción viable.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <p>
            Para promover un cambio hacia una mayor consideración del bien común
            en relación con la bicicleta y la movilidad urbana, es necesario
            abordar estas causas subyacentes. Esto implica la promoción de una
            cultura colectiva y de apoyo mutuo, la concienciación sobre los
            beneficios sociales, ambientales de la bicicleta, la inversión en
            infraestructura ciclista segura y conveniente, y la implementación
            de políticas que fomenten activamente el uso de la bicicleta como
            modo de transporte sostenible.
        </p>

        <p>
            La predominancia del ciclismo deportivo, revela que prevalece un
            interes individual sobre lo colectivo. Interesa más la competividad
            que lo común. En ese sentido es necesario reflexionar sobre el rol
            principal que debería tener la bicicleta como medio de
            transformación social al promover el interes común, siendo un modo
            de transporte sostenible. Entender la bicicleta como un bien común
            implica reconocer que este modo de transporte beneficia a la
            sociedad en su conjunto y que su acceso y uso deben ser promovidos y
            compartidos por todos, como muestra de acción y responsabilidad
            colectiva. Entenderla de esta manera promueve :
        </p>

        <div class="accordion">
            <div class="accordion-item">
                <input type="checkbox" id="section10" class="accordion-input" />
                <label for="section10" class="accordion-label"
                    >Accesibilidad para Todos</label
                >
                <div class="accordion-content">
                    <p>
                        La bicicleta al estar al alcance de todas las personas,
                        independientemente de su situación económica, género,
                        edad o habilidades. Propiciara que las ciudades
                        inviertan en infraestructura ciclista accesible y segura
                        para que todos puedan utilizarla de manera segura.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="section11" class="accordion-input" />
                <label for="section11" class="accordion-label"
                    >Movilidad Sostenible</label
                >
                <div class="accordion-content">
                    <p>
                        La bicicleta es una forma sostenible de movilidad que
                        reduce la contaminación del aire, la congestión del
                        tráfico y la dependencia de los combustibles fósiles. Al
                        promover su uso, se contribuye al bienestar general y a
                        la reducción de la huella ecológica.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="section12" class="accordion-input" />
                <label for="section12" class="accordion-label"
                    >Salud Pública</label
                >
                <div class="accordion-content">
                    <p>
                        El ciclismo promueve la actividad física y la salud. Al
                        hacer que la bicicleta esté disponible para más
                        personas, se pueden mejorar los niveles de salud y
                        bienestar de la población en general, lo que beneficia a
                        toda la sociedad al reducir la carga en los sistemas de
                        atención médica.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="section13" class="accordion-input" />
                <label for="section13" class="accordion-label"
                    >Equidad Social</label
                >
                <div class="accordion-content">
                    <p>
                        Al fomentar el acceso a la bicicleta, se puede abordar
                        la desigualdad de acceso al transporte. Las personas que
                        no pueden permitirse un automóvil o no tienen acceso a
                        un sistema de transporte público eficiente pueden
                        beneficiarse enormemente del ciclismo como una
                        alternativa asequible y efectiva.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="section14" class="accordion-input" />
                <label for="section14" class="accordion-label"
                    >Bicilogística de comercio</label
                >
                <div class="accordion-content">
                    <p>
                        La bicilogística de comercio hace referencia al uso de
                        la bicicleta convencional o de carga como medio para
                        transportar mercancías al consumidor final.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="section12" class="accordion-input" />
                <label for="section12" class="accordion-label"
                    >Reducción de la Congestión</label
                >
                <div class="accordion-content">
                    <p>
                        La promoción del ciclismo puede reducir la congestión
                        del tráfico en las ciudades, lo que beneficia a todos
                        los usuarios de la carretera al reducir los tiempos de
                        viaje y el estrés en el tráfico.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <input type="checkbox" id="section15" class="accordion-input" />
                <label for="section15" class="accordion-label"
                    >Compartir el Espacio Público</label
                >
                <div class="accordion-content">
                    <p>
                        Fomentar el ciclismo implica repensar cómo se utiliza el
                        espacio público. Esto incluye la creación de ciclovías
                        seguras y espacios compartidos para bicicletas y
                        peatones, lo que mejora la calidad de vida en las
                        ciudades.
                    </p>
                </div>
            </div>
        </div>

        <p>
            En resumen, considerar la bicicleta como un bien común significa
            reconocer su valor no solo como modo de transporte individual, sino
            como una herramienta que beneficia a la sociedad en su conjunto.
            Esto implica políticas y acciones que promuevan su uso, la creación
            de infraestructura adecuada y el acceso para todos, lo que
            contribuye al bienestar general y a la mejora de la calidad de vida
            en nuestras ciudades.
        </p>

        <h3>Referencias</h3>
        <p>
            Bici Foro Cochabamba (2023). Ciudadanía en ruedas.
            <br />
             Los Tiempos (2017). La bicicleta en Cochabamba: su llegada y primer
            “Ciclo Club”, 13-09-2017.
            <br />
             Mamani, Richard (2023). Entrevista a representante de TAU-mARTadero
            del Cómite de movilidad Cochabamba.
            <br />
             Maldonado, Alvaro (2023). Entrevista a representante de Masa
            Crítica Kanata.
        </p>
        {frontmatter.tags.map((tag) => <Chip label={tag} />)}
    </section>
    <Footer />
</HeadBody>

<style>
    .container {
        padding: 10% 20% 10% 20%;
    }

    h1 {
        color: var(--primario);
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
    }

    h2 {
        color: #15c0ea;
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 100;
        font-size: 30px;
        text-align: left;
    }

    h3 {
        color: var(--gris);
        font-family: "Albert Sans", Sans-serif;
        font-weight: 500;
        font-size: 100;
        font-size: 20px;
        text-align: left;
    }

    p {
        color: var(--gris);
        font-family: "Albert Sans", Sans-serif;
        font-size: 18px;
        font-weight: 200;
        line-height: 20px;
        text-align: left;
        line-height: 1.5;
    }

    .accordion {
        max-width: 600px;
        margin: 0 auto;
    }

    .accordion-item {
        border: 1px;
        margin-bottom: 10px;
    }

    .accordion-input {
        display: none;
    }

    .accordion-label {
        display: block;
        padding: 10px;
        background-color: #f1f1f1;
        cursor: pointer;
        border-radius: 50px;
    }

    .accordion-content {
        display: none;
        padding: 10px;
    }

    .accordion-input:checked + .accordion-label + .accordion-content {
        display: block;
    }

    .accordion-label {
        color: #15c0ea;
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
    }

    a {
        color: #15c0ea;
        font-weight: 500;
        text-decoration: none;
    }

    #fecha {
        text-align: right;
    }

    #autor {
        color: black;
        font-weight: bold;
        font-size: 15px;
    }

    @media (max-width: 915px) {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        video {
            width: 100%;
        }

        .video-container iframe {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        video {
            width: 100%;
        }

        .video-container iframe {
            width: 100%;
        }

        .accordion-label {
            font-size: 15px;
        }
    }
</style>
