---
import HeadBody from "../../layouts/HeadBody.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Chip from "../../components/Chip.astro";

export const frontmatter = {
    title: "Incidente de vulneración ciclista en Bolivia 2010-2021",
    author: "Abigail Roque Miranda , Nicaela Leon",
    date: "2021-10-01",
    tags: ["Bicicleta", "Vulneración ciclista", "Bolivia"],
    image: "/archivos/incidentesciclistas.png",
};
---

<HeadBody>
    <Header />
    <section class="container">
        <h1>Incidente de vulneración ciclista en Bolivia 2010-2021</h1>
        <br />
        <p id="fecha">01 de octubre de 2021</p>

        <p id="autor">Abigail Roque Miranda, Nicaela Leon</p>
        <br />
        <img
            src="/archivos/incidentesciclistas.png"
            alt="Vulneración ciclista en Bolivia"
        />
        <p>
            En los últimos años el uso de la bicicleta como transporte ecológico
            ha incrementado, esto influenciado por los beneficios que brinda
            este medio de transporte para la economía y la salud de las y los
            bolivianos, y para el medio ambiente urbano. De hecho, después de la
            pandemia del COVID-19 se ha registrado un aumento notable de
            ciclistas, esto debido a que este transporte ofrecía una baja
            probabilidad de contagio de la enfermedad.
            <br />
             Así mismo, en distintos departamentos de Bolivia se ha venido
            desarrollando un proceso de construcción colectiva de promoción y
            consolidación de la bicicleta como modo alternativo de transporte,
            impulsado por varios colectivos de ciclistas urbanos. Se han creado
            leyes para impulsar el uso de la bicicleta, leyes como la “Ley
            Municipal de la Bicicleta en Cochabamba” (2018), la “Ley Municipal
            N°162 de Uso de la Bicicleta” en Tarija (2018), o el anteproyecto de
            la “Ley Municipal de la Bicicleta” de Sucre anteproyecto 2-09-2020.
            También se han creado reglamentos y manuales, como el “Reglamento
            Municipal del Transporte No Motorizado de La Paz” (2020), que
            fomenta el uso de la bicicleta como un medio de transporte que
            contribuye a evitar la propagación del coronavirus o el reciente
            Manual de ciclismo urbano La Paz (2021).
            <br />
             Lo mencionado en el anterior párrafo aparentemente reflejaría un
            avance en las políticas municipales de fomento al uso de la
            bicicleta, sin embargo, no existe una correcta política de movilidad
            urbana y sostenible, pues en territorio nacional aún no se cuenta
            con infraestructuras óptimas y las pocas ciclovías que existen
            carecen de las condiciones y mantenimiento adecuado. Otro tema
            olvidado, pero muy importante, es la seguridad de los y las
            ciclistas que se encuentran vulnerables frente a atropellos,
            accidentes, agresiones verbales y físicas y acoso.
            <br />
             En este contexto, presentamos esta aproximación de incidentes
            ciclistas del 2010 al 2021 en Bolivia, donde se registraron:
        </p>

        <div
            class="flourish-embed flourish-number-ticker"
            data-src="visualisation/16162742"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>

        <p>
            De 2010 al 2021 murieron en nuestro país 64 ciclistas atropellados.
            El mayor número de este tipo de incidentes que sufren los ciclistas
            se producen en carreteras convencionales, rectas e intersecciones
            debido a las colisiones frontales y laterales que sufren al chocar
            con otros vehículos especialmente aquellos que circulan en vías
            transversales.
        </p>
        <div
            class="flourish-embed flourish-chart"
            data-src="visualisation/16162909"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>
        <p>
            La invasión de ciclovías por automóviles y motos representa un
            peligro para los y las ciclistas, por lo que usuarios piden el
            respeto de su espacio de circulación y la delimitación de los
            espacios correspondientes a las ciclovías.
        </p>
        <img
            class="departamento"
            src="/archivos/incidenteciclista1.jpg"
            alt="Vulneración ciclista Bolivia"
        />
        <p>
            Si bien se ha identificado menores porcentajes en el resto de los
            departamentos, es recurrente que estos hechos se susciten mayormente
            en desplazamientos intermunicipales y caminos rurales. Como se
            refleja en el mapa:
        </p>

        <div
            class="flourish-embed flourish-map"
            data-src="visualisation/8037963"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>

        <p>
            En los útimos cuatro años la comunidad ciclista ha ido creciendo.
            Como también, ha ido incrementandose los atropellos a ciclistas en
            sus desplazamientos cotidianos, siendo los principales afectados de
            este tipo de incidentes los varones, con el 89% de incidentes
            registrados en prensa.
        </p>
        <div
            class="flourish-embed flourish-chart"
            data-src="visualisation/16163432"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>
        <p>
            Entre el período 2010 a 2021 en Bolivia, el 29% de ciclistas se han
            visto involucrados de forma leve o grave en algunos de estos
            incidentes y el 71% resultaron muertos.
        </p>

        <div
            class="flourish-embed flourish-chart"
            data-src="visualisation/16163389"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>
        <p>
            Para reducir los atropellos a ciclistas, se pueden implementar
            diversas medidas, entre las cuales destacan:
            <br />
            <br />
            <strong>Infraestructura Ciclista Segura</strong> : Desarrollar y
            mantener carriles exclusivos para bicicletas, ciclovías o zonas
            compartidas que brinden un espacio seguro y protegido para los
            ciclistas.
            <br />
            <strong>Educación Vial</strong>: Implementar programas de educación
            vial dirigidos a ciclistas, conductores y peatones para promover el
            respeto mutuo, conciencia de las normas de tráfico y prácticas
            seguras.
            <br />
            <strong>Señalización Adecuada</strong> : Instalar señales de tráfico
            claras y adecuadas, así como señalización específica para ciclistas,
            para mejorar la visibilidad y orientación en la vía.
            <br />
            <strong>Iluminación y Visibilidad</strong>: Fomentar el uso de luces
            y elementos reflectantes en bicicletas y equipos de protección para
            aumentar la visibilidad, especialmente en condiciones de poca luz.
            <br />
            <strong>Aplicación de Normas</strong>: Reforzar la aplicación de
            normas de tráfico, sancionando a conductores que infrinjan las leyes
            relacionadas con la seguridad de los ciclistas.
            <br />
            <strong>Monitoreo y Evaluación</strong> : Establecer sistemas de
            monitoreo para evaluar la efectividad de las medidas implementadas y
            realizar ajustes según sea necesario.
            <br />
            <strong>Participación Comunitaria</strong>: Involucrar a la
            comunidad, incluyendo a ciclistas, conductores y residentes locales,
            en la planificación y evaluación de iniciativas de seguridad vial.
            <br />
            <strong>Diseño Urbano Amigable para Ciclistas</strong>: Integrar el
            diseño de las ciudades de manera que favorezca el desplazamiento
            seguro de los ciclistas, considerando elementos como cruces seguros
            y estacionamientos para bicicletas.
            <br />
            <strong> Campañas de Concientización</strong>: Lanzar campañas
            regulares de concientización sobre la importancia de compartir la
            vía, respetar las normas de tráfico y cuidar la seguridad de los
            ciclistas.
            <br />
             La combinación de estas medidas, adaptadas a las condiciones
            específicas de cada comunidad, puede contribuir significativamente a
            reducir los atropellos a ciclistas y mejorar la seguridad vial en
            general.
        </p>

        <p>
            El contexto de pandemia por Coronavirus es el momento oportuno para
            la consolidación de redes de ciclovías e infraestructura ciclista en
            las ciudades bolivianas. Por ello, resulta necesario consolidar el
            uso de BiciDatos, app para el registro y monitoreo colaborativo de
            la infraestructura ciclista en las ciudades de Bolivia. Como también
            para el registro de incidentes que atenten en contra de la seguridad
            del ciclista y del peatón, denuncia pública que se presenta cada fin
            de gestión ante de gestión ante la autoridad competente.
        </p>
        {frontmatter.tags.map((tag) => <Chip label={tag} />)}
    </section>

    <Footer />
</HeadBody>

<style>
    .container {
        padding: 10% 20% 10% 20%;
    }

    img {
        width: 100%;
        border-radius: 30px;
    }

    .departamento {
        margin-left: 20%;
        width: 60%;
        border-radius: 30px;
    }

    h1 {
        color: var(--primario);
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
    }

    h3 {
        color: var(--gris);
        font-family: "Albert Sans", Sans-serif;
        font-weight: 500;
        font-size: 100;
        font-size: 20px;
        text-align: left;
    }

    p {
        color: var(--gris);
        font-family: "Albert Sans", Sans-serif;
        font-size: 18px;
        font-weight: 200;
        line-height: 20px;
        text-align: left;
        line-height: 1.5;
    }

    #fecha {
        text-align: right;
    }

    #autor {
        color: black;
        font-weight: bold;
        font-size: 15px;
    }

    @media (max-width: 915px) {
        .departamento {
            width: 100%;
            margin-left: 0%;
        }
    }

    @media (max-width: 480px) {
        .departamento {
            width: 100%;
            margin-left: 0%;
        }
    }
</style>
