---
import HeadBody from "../../layouts/HeadBody.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Chip from "../../components/Chip.astro";

export const frontmatter = {
    title: "La pesadilla del robo de bicicletas en predios de la UMSS",
    author: "Nicaela Leon",
    date: "2023-08-11",
    tags: ["Bicicleta", "Cochabamba"],
    image: "/archivos/portada.png",
};
---

<HeadBody>
    <Header />
    <section class="container">
        <h1>La pesadilla del robo de bicicletas en predios de la UMSS</h1>
        <br />
        <p id="fecha">01 de octubre de 2023</p>

        <p id="autor">Nicaela Leon</p>
        <br />
        <p>
            Es sabido que al momento de hablar de las problemáticas que
            enfrentan las y los ciclistas de Cochabamba la lista no acabaría
            nunca. Una de ellas que ha venido en aumento en estos últimos años
            es el persistente robo de bicicletas, específicamente el robo de
            bicicletas en predios de la Universidad Mayor de San Simón (UMSS).
            <br />
             Mientras que las bicicletas se han convertido en una manera
            ecológica, económica y salubre para moverse dentro y alrededor de la
            ciudad y universidad, su creciente presencia también ha atraído la
            atención no deseada de los ladrones.
            <br />
             La presente nota explora la preocupante tendencia del robo de
            bicicletas en la UMSS, tomando en cuenta los testimonios de 7
            personas que fueron víctimas del robo de su bicicleta entre los años
            2012 y 2023. Además, también se recolectó información basada en las
            publicaciones de víctimas que hicieron la denuncia del robo vía
            redes sociales.
            <br />
             Con este trabajo se busca visibilizar el robo de bicicletas en
            predios de la UMSS, exponer las causas subyacentes y el impacto que
            tiene este tipo de incidentes en las víctimas, así como sugerir
            posibles medidas que podrían implementarse para abordar este
            problema y fomentar un entorno seguro para las y los ciclistas
            universitarios.
            <br />
             A continuación se presentan los testimonios de 5 víctimas de este
            tipo de robos quienes accedieron a responder a un cuestionario y 2
            quienes accedieron a ser entrevistadas.
        </p>
        <br />

        <div class="accordion">
            <div class="accordion-item">
                <input type="checkbox" id="section1" class="accordion-input" />
                <label for="section1" class="accordion-label"
                    >Caso 1: Alain V</label
                >
                <div class="accordion-content">
                    <p>
                        <b>¿Cuándo le robaron su bicicleta?</b>
                        <br />
                         Me robaron la bicicleta el 15 de mayo del 2016, entre
                        las 17:30 y 19:30 horas.
                        <br />
                        <b
                            >Describe el modelo, la marca y color de su
                            bicicleta robada.</b
                        >
                        <br />
                         Mi bici era marca GT, modelo Karakoram Comp.
                        <br />
                        <b
                            >¿En qué parte se encontraba estacionada su
                            bicicleta cuando fue robada?</b
                        >
                        <br />
                         Afuera del Auditorio Principal de la Facultad de
                        Ciencias y Tecnologías, encadenada con un candado a una
                        columna del edificio
                        <br />
                        <b
                            >¿Sufrió con anterioridad algún robo de su bicicleta
                            en la ciudad de Cochabamba o fue esa la primera vez
                            que le robaron su bicicleta?</b
                        >
                        <br />
                         Fue la primera vez, sin embargo, luego dos semanas
                        después me robaron otra en la Escuela Técnica de Salud.
                        <br />
                        <b
                            >¿Cuándo le robaron su bicicleta, ¿esta se
                            encontraba asegurada?</b
                        >
                        <br />
                         Sí, estaba encadenada.
                        <br />
                        <b
                            >¿Con qué herramienta estaba asegurada su bicicleta?</b
                        >
                        <br />
                         Con un candado tipo cadena.
                        <br />
                        <b
                            >¿Se aproximó usted a alguna oficina de la UMSS para
                            realizar esta denuncia?</b
                        >
                        <br />
                         Sí, fui a la secretaría general de la universidad y no
                        recibí apoyo.
                        <br />
                        <b
                            >¿Presentó usted una denuncia formal en la policía
                            sobre el robo de su bicicleta?</b
                        >
                        <br />
                         Sí, capturaron al ladrón meses después mientras estaba
                        robando otra bicicleta en la Facultad de Agronomía de la
                        UMSS. El ladrón era conocido por robar bicicletas en la
                        UMSS, habían varias otras personas que también habían
                        sufrido robos en la UMSS por parte de esta persona. Lo
                        metieron preso en el penal de San Sebastián, pero por
                        robo de motos, no por el robo de bicicletas. Al final,
                        nunca pude recuperar mis bicis, seguramente ambas fueron
                        robadas por la misma persona. Supuestamente el ladrón
                        tenía muchas deudas, seguramente vendió mis bicis de
                        manera ilegal.
                        <br />
                        <b
                            >¿Conoces la identidad de la persona qué robó su
                            bicicleta?</b
                        >
                        <br />
                         Sí, el nombre de la persona que robó mi bicicleta era
                        Ricardo Richard Banegas Justiniano.
                        <br />
                        <b
                            >¿Después del robo de su bicicleta usted dejó de
                            manejar bicicleta o se compró otra bicicleta?</b
                        >
                        <br />
                         Continué manejando bici porque tenía otra, sin embargo,
                        también me la robaron dos semanas después. Después de
                        esos dos robos casi seguidos, tuve que comprar otra
                        bicicleta y seguí conduciendo por la ciudad.
                        <br />
                        <b
                            >¿Después del robo de su bicicleta dónde empezó a
                            parquear su bicicleta?</b
                        >
                        <br />
                         Sí, empecé a dejar mi bici en el parqueo oficial donde
                        hay cuidadores.
                        <br />
                        <b
                            >¿Qué opina de la venta informal de bicicletas
                            usadas a través de Marketplace de Facebook?</b
                        >
                        <br />
                         Es una buena opción para vender tu bici, pero es un
                        espacio que necesita regulación.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="section2" class="accordion-input" />
                <label for="section2" class="accordion-label"
                    >Caso 2: Ronstand Benitez</label
                >
                <div class="accordion-content">
                    <p>
                        <b>¿Cuándo le robaron su bicicleta?</b>

                        <br />
                         Me robaron dos bicicletas en la UMSS. La primera vez en
                        junio de 2014 y la segunda en octubre del mismo año.
                        Ambas en el horario de la mañana.
                        <br />
                        <b
                            >¿En qué parte de la UMSS se encontraba estacionada
                            su bicicleta cuando fue robada?</b
                        >
                        <br />
                         La primera se encontraba en la Facultad de Humanidades,
                        exactamente encadenada atrás del aula 213 y la segunda
                        se encontraba estacionada en la puerta de la Biblioteca
                        de lingüística.
                        <br />
                        <b
                            >Describe el modelo, la marca y color de su
                            bicicleta robada.</b
                        >
                        <br />
                         La primera bici era de color plomo con rojo y tenía
                        aros rosados, marca Riders Vicius. La segunda, era una
                        bici Specialized S-work.
                        <br />
                        <b
                            >¿Se aproximó usted a alguna oficina de la UMSS para
                            realizar esta denuncia?</b
                        >
                        <br />
                         La primera vez no, no sabía dónde ir, y además, en
                        aquel tiempo no había ni cámaras de vigilancia en el
                        lugar. Sin embargo, en la segunda oportunidad que me
                        robaron otra bici ya habían cámaras instaladas, entonces
                        fui a la oficina de vigilancia y me dijeron que no había
                        ningún video con la prueba del robo ya que las cámaras
                        aún no estaban funcionando. También fui a la Dirección
                        de Carrera de Lingüística a informar el hecho, no obtuve
                        respuesta.
                        <br />
                        <b
                            >¿Presentó usted una denuncia formal en la policía
                            sobre el robo de su bicicleta?</b
                        >
                        <br />
                         La primera vez que me robaron mi bici en la UMSS no fui
                        a hacer una denuncia formal, pero la segunda vez sí fui
                        a la policía y lo único que me dijeron fue “si
                        encuentras tu bicicleta vienes a avisarnos”.
                        <br />
                        <b
                            >¿Después del robo de su bicicleta dónde empezó a
                            parquearla?</b
                        >
                        <br />
                         En aquel tiempo estaba en la universidad y lo que yo
                        hacía era dejar mi bicicleta en la parte trasera del
                        salón.
                        <br />
                        <b
                            >¿Qué opina de la venta informal de bicicletas
                            usadas a través de Marketplace de Facebook?</b
                        >
                        <br />
                         Es complicado, porque ocurre lo mismo que en el caso de
                        los celulares robados. Hay personas que los adquieren
                        estos objetos robados y no perciben la gravedad de
                        comprarlos. Prácticamente está normalizado comprar una
                        bicicleta manchada de sangre, por así decirlo, porque
                        hay una víctima detrás de la venta y compra de bicis
                        robadas.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="section3" class="accordion-input" />
                <label for="section3" class="accordion-label">
                    Caso 3: Andres Galindo</label
                >

                <div class="accordion-content">
                    <p>
                        <b
                            >¿Alguna vez fuiste víctima del robo de tu bicicleta
                            en predios de la UMSS?</b
                        >
                        <br />
                         Sí, de hecho en tres ocasiones diferentes. La primera
                        vez fue el 2014, yo estaba en mi segundo año
                        universitario. Ir a la universidad en bicicleta era una
                        buena idea para ahorrar en pasajes.Un día tenía clases
                        en la Facultad de Humanidades, exactamente en el
                        edificio del Multiacadémico. En aquella época, en el
                        piso de abajo había una baranda de metal para dejar tu
                        bici estacionada la cual estaba cerca de un puesto de
                        dulces que se encontraba debajo de las gradas. Ese lugar
                        me parecía un buen lugar para dejar bicis. Dejé mi bici
                        en ese lugar, luego fui a mi clase que era en ese mismo
                        edificio, después también me fui a otro edificio de la
                        facultad a pasar clases en otra aula. Luego de mis
                        clases de dos períodos volví y mi bici ya no estaba.
                        <br />
                        <b>¿Y dejaste tu bicicleta asegurada?</b>
                        <br />
                         Definitivamente, yo siempre manejaba cadena. De hecho,
                        una persona que es ciclista ve y tantea el terreno y ya
                        sabe donde dejar su bici. Esa vez solo por comodidad
                        dejé mi bici cerca del aula donde tenía clases. Además,
                        anteriormente había visto otras bicis estacionadas en el
                        mismo lugar, parecía un lugar seguro.
                        <br />
                        <b>¿Qué hiciste luego del robo de tu bici?</b>
                        <br />
                         Lo que hice en ese momento fue buscar testigos de
                        personas que habían visto algo inusual. Pregunté a las
                        personas a mi alrededor y me dijeron que habían visto
                        una bici tirada y encadenada a la baranda para
                        estacionar bicis, pero nadie presenció el momento exacto
                        del robo de mi bici. Sentí mucha frustración y tristeza.


                        <br />
                        <b>¿Y no pensaste en renunciar el robo de tu bici?</b>
                        <br />
                         Me acerqué a esa oficina de abogados de la UMSS, que
                        está cerca de la entrada de la Jordán, ese Consultorio
                        Popular. Ahí me dijeron que tenía que verificar las
                        cámaras de seguridad de la zona donde dejaron mi
                        bicicleta, pero en el 2014 no había cámaras en aquella
                        parte, entonces no tenía pruebas y no pude hacer nada.
                        <br />
                        <b
                            >¿Después del robo que sufriste dejaste de manejar
                            bicicleta?</b
                        >
                        <br />
                         Después del robo, mi hermano me prestó su bici,
                        <br />
                         Entonces, ¿Después del robo continuaste yendo a la
                        universidad en bicicleta?
                        <br />
                         Sí, pero como ya tenía la experiencia del primer robo
                        pues tenía mucho cuidado.
                        <br />
                         Antes, en la entrada de la Sucre de la Facultad de
                        Humanidades había un sector de parqueo de motos, era un
                        parqueo que estaba casi al lado de las cajas. Entonces
                        yo dejaba mi bici encadenada a la malla olímpica que
                        estaba cerquita de ese parqueo y le pagaba a la señora
                        del parqueo de las motos para que cuide mi bicicleta. Ya
                        no recuerdo cuando le pagaba a la señora, pero le pagaba
                        por todo el día porque a veces me quedaba todo el día en
                        la universidad.
                        <br />
                         Cuéntanos sobre el segundo robo de tu bici, ¿cómo
                        sucedió?
                        <br />
                         Después del primer robo de mi bici, mi hermano me
                        prestó la suya, entonces estuve manejando la bici
                        prestada durante dos años hasta que me la volvieron a
                        robar en el 2016.
                        <br />
                         Un día tenía clase en la madrugada y llegué en bici a
                        las 6:30 a.m y la dejé encadenada en el mismo lugar de
                        siempre, en la malla olímpica, cerca del puesto de la
                        señora que cuidaba motos. Sin embargo, como era aún
                        temprano, esta vez la señora no estaba.
                        <br />
                         Entonces, entré a mi clase a las 6:45 a.m y salí tipo
                        7:45 a.m, fui a buscar mi bici y ya no estaba. En ese
                        momento me acerqué a la señora cuidadora que ya había
                        llegado y le consulté si había visto mi bici cuando
                        llegó, le pregunté si ella había visto algo o qué había
                        pasado, y ella me dijo que había llegado a la
                        universidad entre las 6:45 a.m y 7:00 a.m y cuando llegó
                        al lugar ella no había ninguna bici. Al parecer cortaron
                        el seguro y me robaron mi bicicleta en el transcurso de
                        unos 15 minutos. Fue increíble, yo ya estaba muy mal.
                        <br />
                         Después del segundo robo que sufrí, durante dos semanas
                        fui en trufi a la universidad, yo casi no subo a los
                        trufis, siempre manejo bici. Hasta que una amiga me
                        prestó su bici, entonces con esta tercera bici prestada
                        todo fue muy diferente. Ya no importaba donde tenía
                        clases, yo siempre iba cargado con mi bici, no la
                        soltaba para nada. Si tenía clases en el cuarto piso,
                        pues subía hasta el cuarto piso con mi bici y la metía
                        al aula o si no la dejaba encadenada en las barandas
                        metálicas de los edificios, siempre cerca del aula donde
                        tenía clases. Pero tampoco dejaba mi bici expuesta en el
                        pasillo donde la gente caminaba, lo que hacía era llevar
                        mi bici atrás del sector de los baños, una parte donde
                        no había personas alrededor, trataba de ocultar mi bici.


                        <br />
                         Terminé mi carrera en la universidad manejando la bici
                        prestada de mi amiga. Luego mis padres me regalaron una
                        bicicleta nueva.
                        <br />
                        <b>¿Tampoco denunciaste el segundo robo de tu bici?</b>
                        <br />
                         No hice ninguna denuncia, yo ya estaba demasiado
                        frustrado. Además, no sabía a quién tenía que denunciar
                        ni cómo proceder en la denuncia. ¿Quién se hace
                        responsable de este tipo de robos? ¿Debería ser alguien,
                        no? Si el robo es dentro de la universidad debería de
                        haber un protocolo o algún responsable, pero no.
                        <br />
                         Bueno, al final mi tercera bici también me la robaron…
                        Esto fue hace poco, en el 2023.
                        <br />
                        <b
                            >¿Dónde te robaron tu tercera bicicleta? ¿Cómo pasó?</b
                        >
                        <br />
                         Estoy estudiando mi segunda carrera universitaria que
                        es medicina, entonces durante este 2023 me tocó hacer
                        mis prácticas en el Hospital Viedma.
                        <br />
                         El robo de mi tercera bici fue en el mes de marzo, en
                        el complejo Viedma, en la facultad de medicina de la
                        UMSS. Yo dejaba mi bici encadenada en el sector de
                        parqueo de motos y autos, así fue durante dos meses.
                        Luego un día viernes de marzo, llegué a las 13:45 horas
                        y dejé mi bici en el mismo lugar de siempre, luego volví
                        a recogerla a las 16:00 horas y mi bici había
                        desaparecido.
                        <br />
                         Esta última vez que me robaron mi bici no tenía nada de
                        dinero. Como ya dije antes, una de las razones por las
                        que manejo bici es porque puedo ahorrar en pasajes. Como
                        no tenía dinero para el pasaje del trufi para volver a
                        mi casa tuve que rogar a las personas de la calle para
                        que me regalen 2bs. Estaba ahí cerca del Viedma con mi
                        casco, entonces le explicaba a la gente que me habían
                        robado mi bici y que no tenía dinero para irme a casa.
                        <br />
                         Tampoco hice ninguna denuncia porque no sabía a quién
                        denunciar y no había cámaras en la zona, y había un
                        señor guardia que trabajaba en ese parqueo pero ese día
                        que me robaron mi bici no estaba.
                        <br />
                        <b
                            >¿Por qué no realizaste la denuncia del tercer robo
                            de tu bici?</b
                        >
                        <br />
                         Porque no sabía cómo proceder, ni sabía a dónde ir, y
                        además no tenía tiempo para andar en esas cosas. Mis
                        padres me dijeron que debería ir a la zona de La Pampa a
                        buscar mi bici robada, que seguramente estaba ahí, pero
                        no me animaba a ir porque me tomaría como dos horas de
                        viaje ir, luego seguramente tendría que andar buscando
                        mi bici. Y si la encontraba, ¿Qué iba a hacer?,
                        seguramente tenía que haber comprado mi bici robada. Sé
                        cómo funciona la situación.
                        <br />
                         Sin embargo, ahora que me pongo a pensar, quizás yo
                        debería haber hecho la denuncia del robo de mis
                        bicicletas en la policía, así al menos hubiera habido un
                        registro de este tipo de casos y así se conocería que el
                        robo de bicicletas en Cochabamba es constante y la cifra
                        es alta.
                    </p>
                </div>
            </div>
        </div>

        <h2>
            Robo de bici en la Facultad de Arquitectura en el mes de mayo 2023
        </h2>
        <p>
            <b>¿Cómo fue el robo que sufriste?</b>
            <br />
             No quiero hablar del tema porque aún me duele… Me robaron mi bici
            el 25 de mayo de 2023. Yo dejaba mi bici en el edificio nuevo de
            arquitectura y siempre bajaba a fijarme si estaba en su lugar. Tenía
            una cadena gruesa tipo las de moto y amarraba mi bici en las rejas.
            Ese día, bajé a las 18:30 y mi bici aún estaba, pero luego volví a
            las 19:30 cuando acabaron mis clases y ya no estaba. Entré en
            llanto, no sabía qué hacer…

            <br />
             Al día siguiente del robo, primo encontró mi bici en Marketplace de
            Facebook, yo la reconocí. Entonces intentamos comprar la bici,
            éramos varios los interesados, mi primo, mis amigos, mi hermana, me
            ayudaron a enviar mensajes para preguntar por la bici. Al día
            siguiente la bici apareció como vendida. Yo no creo que la hayan
            vendido, seguramente el ladrón sospechó porque habían muchas
            personas interesadas en comprar la misma bici.
            <br />
             Luego mi papá me decía que dejé de preocuparme, que él iba a
            comprarme otra. Pero yo realmente quería mi bici de nuevo porque la
            había comprado con mucho esfuerzo.
            <br />
            <b>¿Dejaste de manejar bici después del robo que sufriste?</b>
            <br />
             Después de dos semanas del robo conseguí otra bici, me la
            regalaron. Yo voy a todas partes en bici, voy a la universidad,
            hasta a las fiestas, a todo lado, me encanta mucho. Pero ya tengo
            miedo y estoy susceptible, ahora no puedo dejar mi bici así por así
            en cualquier lado. Ahora he comenzado a dejar mi bici en el parqueo
            de arquitectura.
            <br />
            <b
                >¿Entonces al final no realizaste ninguna denuncia formal del
                robo de tu bici?</b
            >
            <br />
             Semanas después del robo de mi bici, una noche fui al parqueo y
            empecé a contarle mi historia al chico que es el cuidador del
            parqueo y él me contó que justamente ese día habían agarrado a un
            ladrón robando bicis. Resulta que en la tarde habían agarrado al
            ladrón y lo habían llevado a la FELCC, entonces yo fui a la oficina
            de vigilancia para que me den el video de lo que robaron mi bici.
            <br />
             Luego le comenté de este suceso a mi mamá y ella me dijo que no
            vaya a la policía, que seguro habían soltado al ladrón porque habían
            pasado más de 8 horas, entonces no fui.
            <br />
             Sin embargo, al día siguiente volví a acercarme al parqueo para
            hablar con los cuidadores y para preguntar qué había pasado
            exactamente. Ahí la persona que cuidaba el parqueo me recomendó que
            vaya a denunciar nomás a la FELCC que habían ya 8 bicis robadas, que
            dos estudiantes de la universidad ya habían reconocido al ladrón y
            habían hecho la denuncia formal, así que decidí ir a hacer la
            denuncia.
            <br />
             Primero fui a solicitar el video de las oficinas de Vigilancia y
            seguridad de la U, vi el video y efectivamente era el mismo ladrón.
            Resulta que al maleante lo habían golpeado hasta que confesó que era
            él mismo quien había robado las otras bicis. Sabiendo esto, decidí
            ir a la FELCC de la Laguna Alalay.
            <br />
             Fui a poner la denuncia formal en la FELCC y los mismos pacos me
            informaron que habían allanado la casa del ladrón, ahí encontraron 8
            bicis de diferentes marcas y tamaños, me mostraron fotos y me
            preguntaron si alguna era mi bici, lamentablemente ninguna de esas
            bicis robadas era mía. La verdad después de eso ya no volví, pero
            los abogados de la U me dijeron que le estaban metiendo proceso.
            Tampoco volví donde los abogados porque a veces no están, ya sabes,
            siempre te dicen “vuelva mañana nomás” y además mis clases son solo
            en el horario de la noche.
            <br />
             El 7 de junio de 2023 detuvieron a un ladrón de bicis cerca de la
            Facultad de Arquitectura, los policías encontraron 8 bicicletas en
            su domicilio.
        </p>

        <h2>¿Y los parqueos para bicis en la UMSS?</h2>

        <p>
            Se ha podido verificar dos estacionamientos en el campus de la UMSS
            de la Calle Oquendo y Jordán en los cuales se acepta el parqueo de
            bicis y motos indiferentemente, además. El primero es el parqueo
            cerca de la Facultad de Ciencias y Tecnología, lugar que cuenta con
            dos personas que se encargan de cuidar las motos y bicis
            estacionadas del lugar. De acuerdo a los cuidadores de este parqueo,
            el costo de estacionamiento para bicis es de 1Bs y ellos se encargan
            de cuidar la bici durante todo el día, desde las 07:30 hasta las
            19:00 horas, además, son los estudiantes quienes deben de traer sus
            propias cadenas o seguros para dejar sus bicis atadas a las
            barandas.
            <br />
             Como se observa en las imágenes, en este parqueo usualmente son las
            motos quienes ocupan el mayor espacio. Para el parqueo de bicicletas
            se tienen destinadas 2 barandas, una larga donde se pueden encadenar
            entre 10-15 bicis y una pequeña donde entran entre 3 a 5 bicis.
            Durante nuestra visita a este parqueo pudimos verificar que habían
            más de 50 motos estacionadas y solamente 5 bicicletas.
        </p>
        <img src="/archivos/bici.png" />
        <p>
            El segundo parqueo se encuentra cerca de la carrera de Diseño
            Gráfico y de acuerdo al cuidador del parqueo el costo de parqueo
            para bicis se realiza por horarios, 1Bs para el horario de la mañana
            y 1Bs para el horario de la tarde. Como se observa en la imágen, los
            espacios destinados para el estacionamiento de bicis son limitados
            tomando en cuenta que cada año la Universidad Mayor de San Simón
            recibe entre 10 mil y 12 mil estudiantes nuevos. Debido a la
            limitada existencia de biciparqueos seguros en la universidad muchas
            personas deciden dejar sus bicicletas encadenadas en las barandas de
            las jardineras o postes de la universidad.
        </p>

        <h2>¿Cuáles son las causas del robo de bicis en predios de la UMSS?</h2>

        <p>
            De acuerdo a los testimonios, se han identificado algunas causas de
            este tipo de robos que son los siguientes:
            <br />
             - La falta de espacios adecuados, seguros, gratuitos y exclusivos
            para el estacionamiento de bicicletas de la población universitaria.


            <br />
             + La constante inseguridad de la zona universitaria de la UMSS,
            pues a pesar de la existencia de cámaras, estas no impiden el robo
            de bicicletas. Las grabaciones captadas por las cámaras de
            vigilancia solamente logran captar pruebas del robo pero no impiden
            este tipo de hechos.
            <br />
             + La inexistencia de leyes municipales y nacionales que sancionen
            de manera drástica el robo de bicicletas
            <br />
             + La falta de un protocolo universitario al cual puedan recurrir
            los estudiantes al momento de sufrir este tipo de robos.
            <br />
             + El desinterés de las autoridades universitarias frente a este
            tipo de robos dentro de predios de la universidad. El bienestar
            estudiantil no es una prioridad para esta universidad.
        </p>

        <h2>El impacto que tiene este tipo de incidentes en las víctimas</h2>
        <p>
            De acuerdo a los testimonios, después del robo de su bici suelen
            suceder las siguientes situaciones:
            <br />
             + El ciclista afectado suele volver a comprarse una bicicleta, sin
            embargo, ya no deja su bicicleta asegurada en cualquier parte, sino
            que la lleva consigo a todas partes.
            <br />
             + El ciclista afectado suele volver a comprarse una bicicleta, sin
            embargo, para evitar un futuro robo la deja de llevar a la
            universidad y opta por el transporte público.
            <br />
             + El ciclista afectado suele volver a comprarse una bicicleta y
            comienza a dejar su bici en estacionamientos de paga que cuenten con
            vigilancia.
            <br />
             + Después del robo, algunos ciclistas universitarios no tienen los
            recursos suficientes para volver a comprarse otra bicicleta, por lo
            que recurren a prestarse bicicletas temporalmente de alguno de sus
            conocidos.
            <br />
             + El ciclista afectado sí vuelve a comprarse una bicicleta pero
            opta por una de bajo presupuesto pues asume que existe la
            posibilidad de que le roben la bici nuevamente.
        </p>

        <h2>¿Cómo abordar este tipo de robos?</h2>
        <p>
            En primer lugar, urge que las autoridades universitarias se
            movilicen para crear espacios adecuados, amplios, seguros, y de
            preferencia gratuitos para la comunidad universitaria. Así mismo,
            son ellos mismos quienes deben de crear un protocolo que puedan
            seguir los estudiantes víctimas de este tipo de robos, pues como ya
            se pudo evidenciar, la mayoría no sabe cómo proceder en este tipo de
            situaciones. De hecho, se requiere con urgencia un espacio que se
            encargue de tratar este tipo de robos que afecta considerablemente
            el bienestar estudiantil.
            <br />
             En segundo lugar, urge la necesidad de incentivar a las víctimas a
            realizar la respectiva denuncia de robo de su bici, ya que estas
            denuncias servirán para respaldar la solicitud de futuros proyectos
            y leyes que favorezcan la seguridad de las y los ciclistas. Así
            mismo, es necesario centralizar todas las denuncias del robo de
            bicicletas ya que al ser la comunidad ciclista una población
            vulnerable en nuestro contexto, urge socializar estas cifras para
            visibilizar la situación actual y poder gestionar creación de leyes
            que respalden la seguridad de las y los ciclistas de Cochabamba.
            <br />
             Por último, se requiere la regulación de la venta y compra de
            bicicletas usadas en nuestro medio. Quizás se requiera un censo o
            registro nacional de bicicletas de manera que las las y los
            ciclistas cuenten con un documento que respalde la pertenencia de su
            bici y que facilité la devolución e identificación de la misma en
            caso de robo.
            <br />
             Esperamos que esta nota pueda brindar información útil a las
            personas que han sufrido el robo de su bici en predios de la UMSS.
            <br />
             Agradecemos a las y los ciclistas que accedieron a ser
            entrevistados o encuestadas.
            <br />
             Si alguien tiene información de las bicis robadas que aparecen en
            esta nota. pueden escribirnos a bicidatos@gmail.com.
        </p>
        {frontmatter.tags.map((tag) => <Chip label={tag} />)}
    </section>
    <Footer />
</HeadBody>

<style>
    .container {
        padding: 10% 20% 10% 20%;
    }

    h1 {
        color: #15c0ea;
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
    }

    h2 {
        color: #15c0ea;
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 100;
        font-size: 30px;
        text-align: left;
    }

    p {
        color: var(--gris);
        font-family: "Albert Sans", Sans-serif;
        font-size: 18px;
        font-weight: 200;
        line-height: 20px;
        text-align: left;
        line-height: 1.5;
    }

    .accordion {
        max-width: 600px;
        margin: 0 auto;
    }

    .accordion-item {
        border: 1px;
        margin-bottom: 10px;
    }

    .accordion-input {
        display: none;
    }

    .accordion-label {
        display: block;
        padding: 10px;
        background-color: #f1f1f1;
        cursor: pointer;
        border-radius: 50px;
    }

    .accordion-content {
        display: none;
        padding: 10px;
    }

    .accordion-input:checked + .accordion-label + .accordion-content {
        display: block;
    }

    .accordion-label {
        color: #15c0ea;
        font-family: "Albert Sans", Sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
    }
    #fecha {
        text-align: right;
    }

    #autor {
        color: black;
        font-weight: bold;
        font-size: 15px;
    }
</style>
